@(user: models.users.User, addPlayerForm: Form[models.Player])

    @import helper._

    @main("New Player", user) {
        @if(flash.containsKey("success")) {
            <!--Flashes if player gets added -->
            <h5 class="alert alert-success">Player added!</h5>
        }
        @if(flash.containsKey("error")) {
                <!--Flashes if players cannot be added -->
            <h5 class="alert alert-danger">Cannot add player</h5>
        }

        <h3> Add a new Player</h3>

        @form(action = routes.PlayerCtrl.addPlayerSubmit(), 'class -> "form-horizontal", 'role -> "form") {
            @inputText(addPlayerForm("playerName"), '_label -> "Name")
            @inputText(addPlayerForm("jerseyNum"), '_label -> "Jersey Number")
            @inputText(addPlayerForm("health"), '_label -> "Health")
            <div class="actions">
                <input type="submit" value="Add Player" class="btn primary">
                <a href="@routes.Application.index()">
                    <button class="btn btn-warning">Cancel</button>
                </a>
            </div>
        }
    }
