@(user: models.users.User, addTeamForm: Form[models.Team])

    @import helper._

    @main("New Team", user) {
        @if(flash.containsKey("error")) {
                <!--Flashes if players cannot be added -->
            <h5 class="alert alert-danger">@flash.get("error")</h5>
        }

        <h3> Add a new Team</h3>

        @form(action = routes.AdminCtrl.addTeamSubmit(), 'class -> "form-horizontal", 'role -> "form") {
            @if(flash.containsKey("error")) {
                    <!--Flashes if players position gets trained -->
                <h5 class="alert alert-danger">@flash.get("error")</h5>
            }
            @inputText(addTeamForm("TeamName"), '_label -> "Team Name")
            
			  <div class="actions">
                <input type="submit" value="Add Team" class="btn btn-primary">
                
            </div>
        }
    }

