@(user: models.users.User)
@main("Admin",user){


<div class="actions">
<h2>Admin Management Warning you can mess up a current game by using these</h2>
<h3>Player Admin options</h3>
 <div class="col-md-6">
      
    @helper.form(action = routes.Application.addPlayer()) {
    <p>
        <input class="btn-sm btn-primary" type="submit" value="Add a Player      ">
    </p>
	
	
    }
	   @helper.form(action = routes.Application.playerDB(0)) {
    <p>
        <input class="btn-sm btn-primary" type="submit" value="Manage Players">
    </p>
}
<h3> Team Admin options</h3>
    @helper.form(action = routes.Application.addTeam()) {
    <p>
        <input class="btn-sm btn-primary" type="submit" value="Add a Team     ">
    </p>
	
	
    }
	
    @helper.form(action = routes.Application.manageTeam()) {
    <p>
        <input class="btn-sm btn-primary" type="submit" value="Manage Team">
    </p>
	
	
    }

<h3> User Admin options</h3>

</div>
  </div>
}