@(user: models.users.User, manageTeamForm: Form[models.Team], team: models.Team)
    @import helper._
    @main("Edit Team Name", user) {
        <h3>Manage a Team</h3>
        
        @form(action = routes.PlayerCtrl.editTeamNameSubmit(team.teamID), 'class -> "form-horizontal", 'role -> "form") {
            @inputText(manageTeamForm("teamName"), '_label -> "Team Name")

            <div class="actions">
                <input type="submit" value="Update Team" class="btn primary">
                <a href="@routes.PlayerCtrl.squad(0)">
                    <button class="btn btn-warning">Cancel</button>
                </a>
            </div>
        }
    }