	
	@(user: models.users.User,manageUserForm: Form[models.users.User],users: models.users.User)

@import helper._

@main("Manage Users",user) {
    <h3>Manage Users</h3>
    user Login name @users.loginname
    @form(action = routes.AdminCtrl.submitEditPassword(users.userid), 'class -> "form-horizontal", 'role->"form"){
	
	@inputPassword(manageUserForm("password"),'_label -> "Password")
	
	    <div class="actions">
        <input type="submit" value="update Password" class="btn primary">
        <a href="\admin">
            <button class="btn btn-warning">Cancel</button>
         </a>




     </div>
	 }
	 }