@(user: models.users.User)
@main("Index",user) {

<div class="container navbar-default">
    <header class="top" role="header">
        <div class="pic">
            <img src=@routes.Assets.at("includes/images/Banner_Football.jpg") alt="banner">
        </div>

        <a href="#" class="navbar-brand pull-left">
            
            FOOTBALL MANAGER
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-align-justify"></span>


        </button>
        <nav class="navbar-collapse collapse " role="navigation">
            <ul class="navbar-nav nav">
                <li><a href="#">Home</a></li>
                
                <li><a href="@routes.Application.squad(0)">Squad</a></li>
                <li><a href="@routes.Application.fixtures()">Fixtures</a></li>
                <li><a href="@routes.Application.leagueTable()">League</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@routes.Application.register()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="controllers.security.LoginCtrl.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </nav>
</div>


<div class="banner">

    <h1>Welcome to football manager</h1></n>
    <p> FOOTBALL MANAGER 2016 Football Manager is the most realistic, in-depth and immersive football management simulation available
        – it’s the closest thing to doing the job for real. Taking control of any squad from your hearts desire, you decide
        who plays and who sits on the bench, deal with and solve player problems. You're in total control of starting eleven,
        preparing players and pitch-side instructions as you follow the match live with the acclaimed 3D match engine. Package
        includes Football Manager Touch for PC, Mac and Linux and network multiplayer options.
    </p>
</div>

</header>
<ul>
    <div class="content">
        <li>Easy to get started</li>
        <li>No pay-to-win features</li>
        <li>Large active soccer community</li>
    </div>
    </div>
    }