@import models.users.User
@import models.users.Login

@(form: Form[models.users.Login], user: models.users.User)

    @main("Login Required", user) {
        <div class="col-xs-4">
            <h3>Sign in</h3>
                <!-- Display login errors if they exist -->
            @if(form.hasGlobalErrors) {
                <p class="alert alert-warning">
                @form.globalError.message
                </p>
            }
            @if(flash.containsKey("success")) {
            <!--Flashes if player gets trained -->
            <h5 class="alert alert-success">@flash.get("success")</h5>
        }
        @if(flash.containsKey("error")) {
                <!--Flashes if players position gets trained -->
            <h5 class="alert alert-danger">@flash.get("error")</h5>
        }
                <!-- The login form -->
            @helper.form(action = controllers.security.routes.LoginCtrl.authenticate) {

                <div class="form-group">
                    <input type="text" name="loginname" class="form-control input-xs" placeholder="Login name" value="@form("loginname").value">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control input-xs" placeholder="Password">
                </div>

                    <!-- Add a submit button -->
                <div class="form-group">
                    <input type="submit" value="Sign In" class="btn btn-primary">
                </div>
            }
        </div>
    }