@(user: models.users.User,teams: List[models.Team])

@import helper._

@main("Manage Team",user) {

    <!-- /.row -->
            <div class="row">
        
                <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            This is all the Teams in the Database
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
								
                                    
                                    <th>Team Name</th>
                                    <th>Team Score</th>
                                    <th>Delete</th>
									<th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(t <- teams){
                                
                                    <td>@t.teamName</td>
                                    <td>@t.getTeamScore()</td>
                                    

      
        <div class="col-md-6">
        </div>
        <td>
		@helper.form(action = routes.Application.delTeam(t.teamID)) {
            <input class="btn-xs btn-danger" type="submit" value="Delete Team" ></a>
        </td>
		

   
                                    }
									<td>
		@helper.form(action = routes.Application.editTeam(t.teamID)) {
            <input class="btn-xs btn-danger" type="submit" value="Edit Team" ></a>
        </td>
		}
			 </tr>						
}

    </tbody>
    </table>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

}