@(user: models.users.User, teams: List[models.Team])
    @import helper._
    @main("Manage Team", user) {
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        This is all the Teams in the Database
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>team ID
                                <th>Team Name</th>
                                <th>Team Score</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(t <- teams) {
                        <tr>
                            <td>@t.teamID</td>
                            <td>@t.teamName</td>
                            <td>@t.getTeamScore()</td>
                            <td>
                            @helper.form(action = routes.AdminCtrl.delTeam(t.teamID)) {
                                <input class="btn-xs btn-danger" type="submit" value="Delete Team" >
                            </td>
                            }
                            <td>
                            @helper.form(action = routes.AdminCtrl.editTeam(t.teamID)) {
                                <input class="btn-xs btn-danger" type="submit" value="Edit Team!!" >
                            </td>
                            }

                        }
                        </tr>
                        </tbody>
                    </table>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
    }