@(user: models.User,positions: List[models.Position], players: List[models.Player])
@main("PlayerDB",user) {

            <!-- /.row -->
            <div class="row">
                <div class="col-md-2">
      <div class="list-group">
				<!-- Start of For loop - For each c in categories add a link -->
				<a href="@routes.Application.playerDB(0)" class="list-group-item">All Positions</a>
				@for(p <- positions) {
          <a href="@routes.Application.playerDB(p.id)" class="list-group-item">@p.position</a>
				}
      </div>
  </div>
                <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            This is all the players in the Database
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Jersey Number</th>
                                    <th>Player Name</th>
                                    <th>GK</th>
                                    <th>Def</th>
                                    <th>Mid</th>
                                    <th>Atck</th>
                                    <th>Health</th>
                                    <th>Position</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(p <- players){
                                <tr>
                                    <td>@p.jerseyNum</td>
                                    <td>@p.playerName</td>
                                    <td>@p.gkVal</td>
                                    <td>@p.defVal</td>
                                    <td>@p.midFVal</td>
                                    <td>@p.attVal</td>
                                    <td>@p.health</td>
                
        <th class="position">
            @p.position.position
             
        </th>
        <div class="col-md-6">
        </div>
        <td>
            <a href="#" class="btn-xs btn-danger" onclick="return confirmDel();"><span 
                        class="glyphicon glyphicon-trash"></span></a>
        </td>
        

    </tr>
                                    }
                                    
    
    </tbody>
    </table>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
   }