@(positions: List[models.Position], players: List[models.Player],team: models.Team, user: models.User)
@main("Squad",user) {

            <!-- /.row -->
            <div class="row">
                <div class="col-md-2">
      <div class="list-group">
				<!-- Start of For loop - For each c in categories add a link -->
				<a href="@routes.Application.squad(0)" class="list-group-item">All Positions</a>
				
                
                @for(p <- positions) {
          <a href="@routes.Application.squad(p.id)" class="list-group-item">@p.position</a>
				}
      </div>
  </div>
                <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            This is your current squad
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Jersey Number</th>
                                    <th>Player Name</th>
                                    <th>GK</th>
                                    <th>Def</th>
                                    <th>Mid</th>
                                    <th>Atck</th>
                                    <th>Health</th>
                                    <th>Training</th>
                                    <th>Position</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(1 == 1){
                                @for(p <- players){
                                <tr>
                                    <td>@p.jerseyNum</td>
                                    <td>@p.playerName</td>
                                    <td>@p.gkVal</td>
                                    <td>@p.defVal</td>
                                    <td>@p.midFVal</td>
                                    <td>@p.attVal</td>
                                    <td>@p.health</td>
                                    <th class="training">
            <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Training
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>GoalKeeper</a>
                </li>
                <li>Defense</a>
                </li>
                <li>Midfield</a>
                </li>
                <li>Stricker (attacker)</a>
                </li>
            </ul>
        </th>
        <th class="position">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle = "dropdown"> @p.position.position
                <span class="caret"></span></button>
            <ul class="dropdown-menu" >
				@for(p <- positions) {
                <li>@p.position</li>
				}
            </ul>
        </th>
        <div class="col-md-6">
        </div>
        <td>
            <a href="#" class="btn-xs btn-danger" onclick="return confirmDel();"><span 
                        class="glyphicon glyphicon-trash"></span></a>
        </td>
        

    </tr>
                                    }
       }
                                   
    
    </tbody>
    </table>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
   }