@(positions: List[models.Position], players: List[models.Player],team: models.Team, user: models.User)
@main("Squad",user) {

            <!-- /.row -->
            <div class="row">
                <div class="col-md-2">
      <div class="list-group">
				<!-- Start of For loop - For each c in categories add a link -->
				<a href="@routes.Application.squad(0)" class="list-group-item">All Positions </a>
				
                
                @for(p <- positions) {
          <a href="@routes.Application.squad(p.id)" class="list-group-item">@p.position</a>
				}
      </div>
  </div>
                <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            This is your current squad 
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Jersey Number</th>
                                    <th>Player Name</th>
                                    <th> team id</th>
                                    <th>GK</th>
                                    <th>Def</th>
                                    <th>Mid</th>
                                    <th>Atck</th>
                                    <th>Health</th>
                                    <th>Training</th>
                                    <th>Position</th>
                                    <th>Transfer</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                               
                                
                                    @for(player <- players ){
                                    @if(1 == 1){
                                    <tr>
                                        <td>@player.jerseyNum</td>
                                        <td>@player.playerName</td>
                                        <td>@player.teamID</td>
                                        <td>@player.gkVal</td>
                                        <td>@player.defVal</td>
                                        <td>@player.midFVal</td>
                                        <td>@player.attVal</td>
                                        <td>@player.health</td>
                                        <th>
                <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Training
                    <span class="caret"></span></button>
                 <ul class="dropdown-menu" >
                   <li><a href="@player.getTrained("Goalkeeper")">Goalkeeper</a></li>
                    <li><a href="@player.getTrained("Defence")">Defence</a></li>
                    <li><a href="@player.getTrained("Midfield")">Midfield</a></li>
                    <li><a href="@player.getTrained("Striker")">Striker</a></li>
                </ul>
            </th>
            <th class="position">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle = "dropdown"> @player.position.position
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" >
                    <li><a href="@player.setPosition("Goalkeeper")">Goalkeeper</a></li>
                    <li><a href="@player.setPosition("Defence")">Defence</a></li>
                    <li><a href="@player.setPosition("Midfield")">Midfield</a></li>
                    <li><a href="@player.setPosition("Striker")">Striker</a></li>
                </ul>
            </th>
            <div class="col-md-6">
            </div>
            <td>
                <a href="@routes.Application.transferPlayer(0,player.playerID)" class="btn-xs btn-danger" ><span 
                            class="glyphicon glyphicon-trash"></span></a>
            </td>
            

        </tr>
                                    }
       
                                }
    
    </tbody>
    </table>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
   }