@(user: models.users.User,players: List[models.Player],transferPlayerForm: Form[models.Player],id: Long)

@import helper._



@main("Transfer Player",user) {

    <h3> Pick a new Player</h3>
    <!-- /.row -->
            <div class="row">
                <div class="col-md-2">
      <div class="list-group">
				<!-- Start of For loop - For each c in categories add a link -->
				
				
      </div>
  </div>
                <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            This is all the players in the Database
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Jersey Number</th>
                                    <th>Player Name</th>
                                    <th>GK</th>
                                    <th>Def</th>
                                    <th>Mid</th>
                                    <th>Atck</th>
                                    <th>Health</th>
                                    <th>Position</th>
                                    <th>Injured</th>
                                    
                                    <th>Transfer Cost</th>
									<th>Buy player</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(p <- players){
                                @if(p.getTID() == 0){
                                <tr>
                                    <td>@p.jerseyNum</td>
                                    <td>@p.playerName</td>
                                    <td>@p.gkVal</td>
                                    <td>@p.defVal</td>
                                    <td>@p.midFVal</td>
                                    <td>@p.attVal</td>
                                    <td>@p.health</td>
                                    <th>@p.position.position</th>
                                    <th>@if(p.injury == true){
                                        Yes
                                        }else{
                                        No
                                        }
										</th>
										<th>@p.transferValue</th>
                                    
                                    
									
                                    <th><a href="@routes.PlayerCtrl.buyPlayer(p.playerID,user.getid())" class="btn-xs btn-danger" ><span
                            class="glyphicon glyphicon-trash"></span></a></th>
                                </tr>

                                    }
                                    }

    </tbody>
    </table>
    <!-- /.panel-body -->
    </div>


   @form(action = routes.PlayerCtrl.transferPlayerSubmit(id), 'class -> "form-horizontal", 'role->"form"){

   <!-- @inputText(transferPlayerForm("teamID"),'_label -> "Team ID")-->
   @select(
   transferPlayerForm("player"),
   options(Player.options),
   '_label -> "Player", '_dfault -> "--Choose a Player --",
   '_showConstraints -> false, 'class -> "form-control"
   )


    <div class="actions">
        <input type="submit" value="Save" class="btn primary">
        <a href="@routes.PlayerCtrl.squad(0)">
            <button class="btn btn-warning">Cancel</button>
         </a>
     </div>




    
}