#body {
    box-shadow: 0 5px 20px rgb(0, 0, 10), 0 15px 30px 00px rgba(0, 0, 0, 0.3);
}

.container {
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.pic.img {
    height: auto;
    width: 100%;

}

.top {
    padding: 0;

}

.banner {

    min-height: 10%;
    padding: 10%;
    background-image: url('../images/football_manager_touch_16.jpg');
    font-weight: 1500;
}

.content {

    margin-left: 10%;
}

#h1 {
    font-weight: 300;
}

#redfont {
    color: #84c9ee;
}