@(user: models.users.User, registerForm: Form[models.users.User])

    @import helper._

    @main("Register", user) {
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @if(flash.containsKey("error")) {
                            <!--Flashes if players position gets trained -->
                            <h5 class="alert alert-danger">@flash.get("error")</h5>
                        }
                        Please enter the following details
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">

                            @form(action = routes.AdminCtrl.registerFormSubmit()) {
                                    
                                @inputText(registerForm("name"),
                                    '_label -> "Name",
                                    '_showConstraints -> false,
                                    '_help -> "Example: John Doe",
                                    '_error -> "Invalid",
                                    'class -> "form-control")
                                @inputText(registerForm("loginname"),
                                    '_label -> "Login Name",

                                    'class -> "form-control")
                                @inputPassword(registerForm("password"),
                                    '_label -> "Password",

                                    'class -> "form-control")

                                <div class="actions">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                    
                                    </a>

                                        
                                </div>
                                   

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

    }
